services:
  hindsight:
    image: hindsight
    build:
      context: ../..
      dockerfile: docker/standalone/Dockerfile
    env_file:
      - ../../.env
    ports:
      - "9999:9999"
      - "8888:8888"
    environment:
      # These override env_file values only when set in host shell
      # Default values are applied only when not set in env_file or host
      HINDSIGHT_API_HOST: ${HINDSIGHT_API_HOST:-0.0.0.0}
      HINDSIGHT_API_PORT: ${HINDSIGHT_API_PORT:-8888}
      HINDSIGHT_API_LOG_LEVEL: ${HINDSIGHT_API_LOG_LEVEL:-info}
      # HINDSIGHT_API_DATABASE_URL can be set if you want to use an external database
      # If not set, embedded pg0 will be used automatically
    volumes:
      - hindsight_data:/home/hindsight/.pg0
    restart: unless-stopped

volumes:
  hindsight_data:
